

body {
  /* width: 100vw; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cont {
  display:grid;
  height: 100vh;
  grid-template-columns:  0.25fr 1fr 0.25fr;
  grid-template-rows: 0.5fr 1.5fr 0.4fr;
  grid-template-areas: 
  "leftbar header header"
  "leftbar main rightbar"
  "leftbar footer rightbar";
  

}
.grid {
  justify-content: center;
}
header {
  grid-area: header;
  min-height: 150px;
  background-color: coral;
}

main {
  background-color: gainsboro;
  max-height:inherit;
  /* max-width: inherit; */
  grid-area: main;

}

aside:nth-child(1) {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  grid-area: leftbar;
  background-color: coral;
}
aside:nth-child(1) input {
font-size: 2rem;
    text-align: left;
    font-family: Helvetica, sans-serif;
    width: 240px;
    color: #212529;
}

aside:nth-child(3) {
  grid-area: rightbar;
  background-color: coral;
}

footer {
  background-color: lightgrey;
  grid-area: footer;
  min-height: 100px;
}

article {
  /* flex: 1 0 auto; */
  padding-top: 80px;
  padding-inline: 80px;

}


  
.picture {
  width: 150px; 
  flex: 0 0 100px;  
  padding: 12px;
}
.picture .photo{
border-radius: 13px;
padding: 0px;
min-height: 100px;
width: 150px;

overflow: hidden;
/* transition: all .4s ease; */
}
.picture .photo:hover{
border-radius: 13px;
}

.grid:hover .picture:not(:hover) .photo {
  /* height:50%;
  width: 50%;
  transition: all .5s ease; */
}

.photo {
  /* position: relative;
  width: 100%; 
  align-items: center; */
}
.picture :hover {
  /* transform: scale(1.5); */
  height: auto;
  /* width:145px; */
  /* transform: scale(2,2); */
  box-shadow: -3px 3px 5px 2px #aaaaaa,
}
.emptyBox {
  color: gainsboro;
  flex: 0 0 100px;
  width: 150px; 
  padding: 12px;
  height: auto;
}


.emptyBox .photo {
  border-radius: 13px;
  /* z-index: -1; */
  /* box-shadow: -6px 4px 18px 3px #aaaaaa, 0 0 13px -1px #aaaaaa inset; */
  width: 150px; 
  height: 112px;
  box-shadow: -3px 3px 5px 2px #aaaaaa;
  /* top: 0;
  transition: top ease 0.5s;
  transition: transform 0.3s ease;
  transform: translateX(0px);
  transform: translateY(0px); */
}

.emptyBox .photo:hover {
  border-radius: 13px;
  box-shadow: -7px 7px 10px 4px #aaaaaa, 0 0 10px -1px #aaaaaa inset;
  /* transform: translateX(2px), translateY(2px); */
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}






  .modal {
    padding:100px;
    position: fixed;
    z-index:9999;
    top :0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    outline: none;
    padding: 3.2rem;
    /* text-align: center; */
    padding: 100px;
    
  }
  


  div.modal-content form {
    padding:5px;
    display: flex;
    flex-direction: column;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
  }
  div.modal-content form input {
    width: 500px;
    margin: 10px;
    font-size: 20px;
    background-color: none;
  }

  .next-button-right {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
  }
  .next-button-left {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
  }
  .next-button-left, .next-button-right {
    padding: 10px 24px;
    background:none;
    color: #fff;
    border: none;
    /* cursor: pointer; */
    /* position: absolute; */
    font-size: 20px;  display:inline-block;

  }

.exit-modal-button {
    padding: 10px 24px;
    background:none;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;

}
  






