* {
  font-family: Helvetica, sans-serif; 
}
html {
  height: 100%;
}
#root {
  min-height: 100%;
}
body {
  /* width: 100vw; */
 
  margin: 0;
  /* font-family: "HelveticaNeue"; */
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  display: none;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.cont {
  display:grid;
  height: 100vh;
  grid-template-columns:  0.25fr 1fr 0.25fr;
  grid-template-rows: auto 1.5fr auto;
  grid-template-areas: 
  "leftbar header header"
  "leftbar main rightbar"
  "leftbar footer rightbar";
  

}

header {
  grid-area: header;
  min-height: 150px;
  background-color: coral;
}

main {
  background-color: gainsboro;
  /* max-height:inherit; */
  /* max-width: inherit; */
  /* grid-area: main; */

}
aside:nth-child(1) {
  /* padding-top: 5px; */
  /* padding-inline: 5px; */
  grid-area: leftbar;
  background-color: coral;
}


@media (max-width: 1200px) {
  /* aside{
    transition: none !important;
  } */
  .cont {
    grid-template-columns:  0 1fr 0;
    /* transition: 1s; */
  }
  /* .picture{
    position:absolute;  }*/
  .photo{
    /* z-index:0; */
    /* position:initial;  */
  }
  .slide-button-left{
    /* margin-left: 25.3px;  */
    transition: none !important;
  }
  .slide-button-right {
    /* transition: all 1s; */
    transition: none !important;
    /* margin-left: 172px;     */
  }
  .side-bar-open {
    background-color: coral;
    transition: none;
    position:absolute;
    transition: none !important;
    /* width: 200px; */
    /* z-index:1; */
    left:87%
  }
  /* .side-bar-open p{width: 100%;} */
  .side-bar-closed{
    transition: none !important;
    background-color: coral;
    margin-inline: 0;
    left:2%
  }
  .side-bar-closed .scrollable{
    transition: none !important;
    padding-inline: 0px;
  }
  .scrollable{
    /* z-index: .5; */
  }
  /* aside {display:none;} */
  
  
}
/* aside:nth-child(1) input {
font-size: 2rem;
    text-align: left;
    font-family: Helvetica, sans-serif;
    width: 240px;
    color: #212529;
} */

aside:nth-child(3) {
  grid-area: rightbar;
  background-color: coral;
  overflow: hidden;
}

footer {
  background-color: gainsboro;
  grid-area: footer;
  min-height: 100px;
}

article {
  /* flex: 1 0 auto; */
  padding-top: 80px;
  padding-inline: max(10%);
}

button {
  background-color: gainsboro;
}
.add-item {
  display:flex;
  justify-content: space-between;  
  /* max-height: 47.78;/ */
  /* width: max-content; */
}
.subtract-item {
  display:flex;
  justify-content: space-between;
  /* margin-right: 5; */
  width: 96.6%;
}
.side-bar-add-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  line-height: 0px;
}
.close-modal-button {
  cursor: pointer;
  background-color: transparent;
  color: white;
  transform: rotate(-45deg);
  border: none;
  font-size: 35px;
  line-height: 0px;
  /* z-index: 1; */
  position: absolute;
    right: 2px;
    top:11px;
}

.delete-photo {
  cursor: pointer;
  background-color: transparent;
  color: red;
  transform: rotate(-45deg);
  border: none;
  font-size: 2rem;
  line-height: 0px;
  z-index: 1;
  float: right;
  position: relative;
  right: 13px;
  top: -100%;
  padding-right: 8px;
  padding-top: 17px;
}
.sidebar-break {
  width: 100%;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px gainsboro inset;
}

.slide-button-left {
  margin-top: 5px;
  
  margin-left: .3vw ;
  /* left: 0%; */
  transition: 1s;
  position: absolute;
  z-index: 1;
  font-size: 15px;
}

.slide-button-right {
  margin-top: 5px;
  /* left: 88%; */
  margin-left: max(14.6vw, 172px);   
  /* margin-right: auto; */
  transition: 1s;
  position: absolute;
  z-index: 1;
  font-size: 15px;
}

.side-bar-closed {
  width: 100%;
  /* left: -100%; */
  margin-left: -25vw;
  transition: 1s;
  position: absolute;
  }
.side-bar-open {
  width: 100%;
  /* left: 0%; */
  margin-left: 0vw;
  position: absolute;
  transition: 1s;
  }
  .side-bar-closed .scrollable  {
    opacity: 0;
    width: 0;
  }
.scrollable {    
    height: 700px;
    overflow-y: scroll;
    display: block;
    padding-inline: 5px;
  }
.scrollable::-webkit-scrollbar {
    width: 0px;
  }

.break {
    margin-top: 5rem;
    height: 1.5fr;
  }
.about-me {
    font-size: 1rem;  
  }
  *:focus {
    outline: none;
}
  input {
    background-color: inherit;
    line-height: 1.5;
    border-width: 0;
    margin-top: 0;
  }
  input .name-form {
    font-size: 3.5rem;
    text-align: right;
    font-family: "HelveticaNeue-Light";
    font-weight: normal;
    padding-right: 20px;
  }
  textarea {
    margin: 0;
    display: block;
    line-height: none;
  }
  .link-cont a {
    display: block;
  }

  .nav-bar-header{
    font-style: italic;
  -moz-text-fill-color:coral;
  -webkit-text-fill-color: coral;
  -moz-text-stroke-color: black;
  -webkit-text-stroke-color: black;
  -moz-text-stroke-width: 1.5px;  
  -webkit-text-stroke-width: 1.5px;
  font-size: 35px;
  line-height: 1.2;
  /* margin-top: 20vh; */
  margin-bottom: 0px;
  }

  a {
    font-size: 2rem;
    text-align: left;
    width: 240px;
  }

.grid:hover .picture:not(:hover) .photo {
  /* height:50%;
  width: 50%;
  transition: all .5s ease; */
}
/* .grid {
  display: flex;
  flex-direction: column; 
} */
.picture {
  height: 100px;
  max-height: 220px; 
  overflow: hidden;
  margin: 10px;
  /* ALLOWS FOR RESIZING WINDOW */
  max-width: fit-content;
  /* USE THIS TO KEEP IMAGE CENTER */
   display: flex;
  justify-content: center;
  border-radius: 13px;
  box-shadow: -3px 3px 5px 2px #aaaaaa;
}
.image-tile {
  max-height: 220px;
  height: 100px; 
  overflow: hidden;
  margin: 10px;
  /* ALLOWS FOR RESIZING WINDOW */
  max-width: fit-content;
  /* USE THIS TO KEEP IMAGE CENTER */
   display: flex;
  justify-content: center;
  border-radius: 13px;
  box-shadow: -3px 3px 5px 2px #aaaaaa;
}

.picture .photo{
  max-height: 220px;
  min-width: 150px;
  /* KEEPS PHOTOS UNDERNEATH SIDEBAR WHEN SIDEBAR IS OPENED*/
  position: initial;
 
}
.image-tile .photo{
  max-height: 220px;
  min-width: 150px;
  /* KEEPS PHOTOS UNDERNEATH SIDEBAR WHEN SIDEBAR IS OPENED*/
  position: initial;
 
}
/* .picture .photo:hover{
border-radius: 13px;
} */
/* display: block;
margin: auto;
max-width: 100%;
max-height: 100%; */
.photo {
  position: relative;
  overflow: hidden;
  /* min-height: 100px; */
  
}
.img-wrapper:not(:hover) {
  /* grid-template-columns: repeat(6,170px); */
}
 .image-tile:hover {
   all: unset;
  box-shadow: none;
  transition: transform 0.2s ease;
  transform: scale(1.2,1.2);
  border-radius: 0px;
  /* transition: border-radius 0.2s ease; */
  /* transform-origin: left bottom; */
  width: fit-content;
  display: flex;
  background-color: rgba(204, 204, 204, 0.75);
  height: fit-content;
  max-width: fit-content;
  padding: 5px;
  margin: 0px;
  /* padding-bottom: 5px; */
  overflow: visible;
} 
/* .card-content {
  display: none;
} */
.card-name{
  font-size: 20px;
}
.card-details{
  font-size: 15px;
  overflow-y: scroll;
}
.image-tile:hover .card-content {
display: block;
max-width: 30%;
padding-inline: 5px;
height: fit-content;
}
.image-tile:hover .photo {
  /* object-fit: contain; */
}
.image-tile:hover img {
  /* height:fit-content; */
}
/* .image-tile img {
  height: 100px;
} */
.img-wrapper {
  /* display: flex; */
  
}

.missing-box {
  color: gainsboro;
  flex: 0 0 100px;
  width: 150px; 
  margin: 7px;
  height: auto;
  /* z-index: -1; */
}

.missing-box .photo {
  z-index: -2;
  border-radius: 13px;
  width: 150px; 
  height: 112px;
  box-shadow: -3px 3px 5px 2px #aaaaaa;
}
/* .img-wrapper:not(:hover) + .card-content {
  display: none;
}
*/
.card-content {
display: none;
width: fit-content;
} 

.empty-box {
  color: gainsboro;
  height: 100px;
  margin: 10px;
  
}
.empty-box .photo {
  position: initial;
  border-radius: 13px;
  width: 100%; 
  /* width: 135px;  */
  height: 100px;
  box-shadow: -3px 3px 5px 2px #aaaaaa;
}
:is(.empty-box, .picture):hover {
  border-radius: 13px;
  box-shadow: -7px 7px 10px 4px #aaaaaa, 0 0 10px -1px #aaaaaa inset;
  transform: translate(1px, 1px);
  
}
/* .empty-box .photo:hover {
  border-radius: 13px;
  box-shadow: -7px 7px 10px 4px #aaaaaa, 0 0 10px -1px #aaaaaa inset;
}
.picture .photo:hover {
  border-radius: 13px;
  box-shadow: -7px 7px 10px 4px #aaaaaa, 0 0 10px -1px #aaaaaa inset;
} */
/* z-index: -1; */
/* box-shadow: -6px 4px 18px 3px #aaaaaa, 0 0 13px -1px #aaaaaa inset; */
/* top: 0;
transition: top ease 0.5s;
transition: transform 0.3s ease;
transform: translateX(0px);
transform: translateY(0px); */


* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}

  .modal {
    padding:100px;
    position: fixed;
    top :0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.8);
    /* color: white; */
    outline: none;
    padding: 3.2rem;
    padding: 100px;
  }

  /* div.modal-content form {
    padding:5px;
    display: flex;
    flex-direction: column;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
  } */
  /* div.modal-content form input {
    width: 500px;
    margin: 10px;
    font-size: 20px;
    background-color: none;
    color: gainsboro;
    
  } */
  div.modal-content form input::placeholder {
    /* color: gainsboro; */}

  .next-button-right {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
  }
  .next-button-left {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
  }
  .next-button-left, .next-button-right {
    padding: 10px 24px;
    background:none;
    color: #fff;
    border: none;
    z-index: 1;
    font-size: 30px;  
    display:inline-block;

  }

.exit-modal-button {
    padding: 10px 24px;
    background:none;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;

}
  






